.align-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-view{
  width: 100vw;
  height: 100vh;
}

.display-none{
  display: none;
}

.display-flex{
  display: flex;
}

html,body{
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;

}
